* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #397DE4;
  padding: 16px;
  width: 100%;
}

header h1 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}




.container {
  margin-top: 120px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  margin-bottom: 16px;
  color: #397DE4;
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input, textarea{
  padding: 8px;
  width: 25rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid #397DE4;
}

form input, textarea::placeholder{
  font-size: 1.2em;
}

textarea {
  font-size: 1.2em;
}

textarea {
  height: 10rem;
  resize: none;
}

.buttons {
  display: flex;
  margin-top: 16px;
  width: 100%;
  justify-content: space-around;
}

.buttons button {
  padding: 8px 32px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
  display: none;
}

.buttonRed {
  background-color: #d40606;
}

.buttonGreen {
  background-color: #008000;
}